<html>
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
        <title>{% block titlename %}{% endblock %}goristock 台灣股市分析機器人</title>
        <meta name="description" content="利用 GAE 計算分析台灣股市各股投資策略">
        <meta name="keywords" content="台灣股市,投資策略,機器人,Google App Engine,XMPP"> 
        <link rel="stylesheet" type="text/css" href="/css/css.css">
{% block javascript %}{% endblock %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-80185-27']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div class="cc">
          <div class="desc">
            <div class="descmenu">
              <ul>
                <li><a href="/">goristock 台灣股市分析機器人</a></li>
                <li><a href="/getinvite">索取邀請函</a></li>
                <li><a target="_blank" href="http://bit.ly/gVeHIG">使用說明</a></li>
                <li><a href="/howitwork">如何運作</a></li>
              </ul>
            </div>
            <div calss="descr">
              <div class="descmenur">
                <ul>
                  <li>{{ tv.umail }}</li>
                  <li><img src="/images/favicon.ico"></li>
                  <li><a href="/API">API</a></li>
                  <li><a href="/dev">Dev</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cc"></div>
        <div class="desc">{% block userinfo %}{% endblock %}</div>
        <div class="cc">
        <table width="100%" height="70%">
            <tr align="center">
                <td align="center" valign="middle">
                    <div class="con">{% block content %}{% endblock %}</div>
                </td>
            </tr>
        </table>
        <div class="foot footdesc">{% block foot %}{% endblock %}</div>
    </body>
    {% include "h_analytics.htm" %}
</html>

