{% extends "h_infopage.htm" %}

{% block titlename %}如何運作 - {% endblock %}

{% block content %}
<iframe src="https://docs.google.com/present/embed?id=dft5qcw9_95hd66b9dj&size=l" frameborder="0" width="700" height="559"></iframe>
<br>
<br>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://goristock.appspot.com/" data-count="horizontal" data-via="toomore">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoristock.appspot.com%2F&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=10" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
{% endblock %}

{% block foot %}
{% include "h_desc.htm" %}
{% endblock %}
