{% extends "h_infopage.htm" %}

{% block titlename %}{% endblock %}

{% block content %}
<img src="/images/index.png"><br>
goristock 台灣股市分析機器人<br>
<a href="/getinvite">取得使用</a> / <a href="http://bit.ly/gVeHIG">使用說明</a> / <a href="/howitwork">如何運作</a>
<br>
<br>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://goristock.appspot.com/" data-count="horizontal" data-via="toomore">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoristock.appspot.com%2F&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=10" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
{% endblock %}

{% block foot %}
{% include "h_desc.htm" %}
{% endblock %}
