{% extends "hm_infopage.htm" %}

{% block titlename %}Mobile - {% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<table class="stable">
{% for i in tv %}
  <tr>
    <td>{{ i.name }}</td>
    <td class="{{ i.css }}">{{ i.c }}</td>
    <td class="{{ i.css }}">{{ i.range|floatformat:2 }} ({{ i.pp|floatformat:2 }}%)</td>
  </tr>
  <tr class="tr">
    <td>{{ i.stock_no }}</td>
    <td>{{ i.value }}</td>
    <td>{{ i.time }}</td>
  </tr>
{% endfor %}
</table>
<table class="nav">
  <tr>
    <td><a href="/m">重新整理</a></td>
    <td>{{ user }}</td>
  </tr>
</table>
{% endblock %}
