<html>
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
        <title>{% block titlename %}{% endblock %}goristock 台灣股市分析機器人</title>
        <meta name="description" content="利用 GAE 計算分析台灣股市各股投資策略">
        <meta name="keywords" content="台灣股市,投資策略,機器人,Google App Engine,XMPP,OpenID">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <link rel="stylesheet" type="text/css" href="/css/css_m.css">
{% block javascript %}{% endblock %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-80185-27']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
      <div class="con">{% block content %}{% endblock %}</div>
      <div class="foot footdesc">{% block foot %}{% endblock %}</div>
    </body>
</html>

