<html>
<head>
  <title>Log in goristock with OpenID</title>
  <meta name="keywords" content="台灣股市,投資策略,機器人,Google App Engine,XMPP,OpenID">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" type="text/css" href="/css/css_m.css">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-80185-27']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="inopenid">
  選擇您的 <a target="_blank" href="http://zh.wikipedia.org/zh-tw/OpenID">OpenID</a> 帳號，或直接輸入網址
  <form method="get" action="/_ah/login_required">
    {% if continue %}
      <input type="hidden" name="continue" value="{{continue|escape}}" />
    {% endif %}
    <ul class="openidlist">
      <li><label><input type="radio" name="openid" value="https://www.google.com/accounts/o8/id"><img src="http://www.google.com/favicon.ico"> Google 帳戶</label></li>
      <li><label><input type="radio" name="openid" value="https://me.yahoo.com/"><img src="http://me.yahoo.com/favicon.ico"> Yahoo!奇摩</label></li>
      <li><label><input type="radio" name="openid" value="http://www.pixnet.net/"><img src="http://www.pixnet.net/favicon.ico"> 痞客邦PIXNET</label></li>
      <li><label><input type="radio" name="openid" value="https://myid.tw/"><img src="http://myid.tw/favicon.ico"> myID.tw</label></li>
      <li><label><input type="radio" name="openid" value="https://www.myopenid.com/"><img src="http://www.myopenid.com/favicon.ico"> MyOpenID</label></li>
      <li><label><input type="radio" name="openid" value="https://wordpress.com/"><img src="http://www.wordpress.com/favicon.ico"> WordPress</label></li>
      <li><label><input type="radio" name="openid" value="">其他：<input type="text" name="otheropenid" size="15"></label></li>
    </ul>
    您的登入狀態將保留14天（或直到您登出）<br>
    <input type="submit" value="登入 OpenID！"> <a href="/m">取消登入</a>
  </form>
</body>
</html>
