{% extends "hm_infopage.htm" %}

{% block titlename %}Mobile - {% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="newstitle">
{% if r %}
  隨機顯示
{% else %}
  我的選股
{% endif %}
</div>

<table class="stable">
{% for i in tv %}
  <tr>
    <td rowspan="2"><img src="{{ i.crosspic }}"></td>
    <td>{{ i.name }}</td>
    <td class="{{ i.css }}">{{ i.c }}</td>
    <td class="{{ i.css }}">{{ i.range|floatformat:2 }} <span class="pp">({{ i.pp|floatformat:2 }}%)</span></td>
    <td rowspan="2"><a href="/m/detail/{{ i.stock_no }}">→</a></td>
  </tr>
  <tr class="tr">
    <td><a href="/m/detail/{{ i.stock_no }}">{{ i.stock_no }}</a></td>
    <td>{{ i.value }}</td>
    <td>{{ i.time }}</td>
  </tr>
{% endfor %}
</table>
<table class="nav">
  <tr>
    {% if login %}
    <td><a href="/m">我的選股</a></td>
    <td><a href="/m?r=1">隨機</a></td>
    {% else %}
    <td><a href="/m">重新整理</a></td>
    {% endif %}
    <td><a href="/m/news">新聞</a></td>
    <td>{{ user|safe }}</td>
  </tr>
</table>
{% endblock %}
