{% extends "hm_infopage.htm" %}

{% block titlename %}Mobile Del Note - {% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="newstitle">
  刪除筆記
</div>
<div class="notedel">
  <form action="/m/notef" method="POST">
    刪除 {{ no }} 的筆記<br>
    <input type="hidden" name="no" value="{{ no }}">
    <input type="hidden" name="mod" value="del">
    <input type="hidden" name="key" value="{{ key }}">
    <input type="submit" value="確定"> <a href="/m/note/{{ no }}">取消</a>
  </form>
</div>
{% endblock %}
