{% extends "hm_infopage.htm" %}

{% block titlename %}Mobile 設定 - {% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="mconfigtitle">
  使用者資訊
</div>
<div class="mconfigtxt">
  OpenID: <i>{{ usd.nickname }}</i><br>
  Provider: <i>{{ usd.provider }}</i> {{ logout }}
</div>
<div class="mconfigtitle">
  新增/刪除股票
</div>
<div class="mconfigtxt">
{% for i in tv %}
  [{{ i }}] 
{% endfor %}
<form action="/m/config" method="POST">
  新增：<input name="add" size="15" tabindex="1"><br>
  刪除：<input name="del" size="15" tabindex="2"><br>
</div>
<input type="submit" value="設定！"> <a href="/m">取消設定</a>
</form>
<div class="mconfigtitle">
  筆記
</div>
<div class="mconfigtxt">
  觀看<a href="/m/note/list/all">筆記列表</a>
</div>
{% endblock %}
