a {
        color:#0000CC;
        text-decoration: none;}
a:hover{
        color:#6666dd}
body{
        font-family: 'Arial';
        margin: 0;
        padding: 0;}
sup{
        font-size: 8pt;
        color: #955;
}
input,select {
        font-size:12pt;
        font-family: arial;
        font-weight: bold;
        padding:6px;
        margin:4px;
        color:#446655;}
.desc {
        padding-bottom: 20px;
}
.descmenu {
        float: left;
}
.descmenu ul, .descmenur ul{
        margin-top: 3px;
}
.descmenu li, .descmenur li{
        vertical-align:middle;
        display: inline;
        font-weight: bold;
        padding: 10px 0px;
        font-size:10pt;
}
.descmenu li a, .descmenur li a {
        color: #044;
        padding: 10px;
        background-color: #eef;
        -moz-border-radius: 0 0 8 8 !important;
        -webkit-border-radius: 0 0 8 8 !important;
}
.descmenu li a:hover, .descmenur li a:hover {
        background-color: #ffe;
        color: #889;
}
.descmenur{
        float: right;
}
.rdu {
        font-size:10pt;}
.rdu a {
        color:#ddeedd;
        text-decoration: none;}
.rdu a:hover{
        color:#4444bb;
        font-weight: bold;}
.wall img{
        border:0px;
        width:86px;}
.con {
        font-size:10pt;}
.mimg{
        vertical-align:middle;
        border:0px;}
.app{
        width:195;
        text-align:right;}
.userinfo{
        font-size:18pt;}
.frichart{
        width:100%;}
.top {
        border-top: 1px #C9D7F1 solid;
        }
.sdiv {
        float:left;
        margin: 5px;
        padding: 4px;
        border:1px #ccaadd dashed;
        width:90px;
        font-size:10pt;
        text-overflow : ellipsis;
        overflow : hidden;}
.sdiv img{
        width:90;
        border:0px}
.massresult{
        text-align:left;
        font-size:10pt;
        background:#eeddcc;
        border: 1px #cba solid;
        padding:15px;
        margin:15px;}
.txttips{
        width:380px;
        text-align:left;
        font-size:10pt;
        background:#cfc;
        border: 1px #0c0 solid;
        padding:15px;
        margin:15px;}
.tips{
        width:400px;
        font-size:10pt;
        background:#ded;
        border: 1px #bcb solid;
        padding:5px;
        margin:5px;}
.aboutable td{
        border-bottom:1px #990066 solid;}
.langtable{
        font-size:16pt;
        background:#eeeeff;
        padding:14px;
        margin:14px;}
.langtable td{
        border-bottom:1px #aabbaa solid;}
.foot {
        clear:both;
}
.footdesc{
        font-size: 9pt;
        text-align: center;
        color: #667;
        padding: 5px;
        margin-top: 20px;
        border-top: 2px #cdf solid;
        background-color: #eef;
        bottom: 0px;
}
.cc {clear:both;}

.apitips{
        font-family: monospace;
        text-align:left;
        width: 80%;
        font-size:10pt;}
.apitips h2{
        font-size:14pt;
        color: #338;
        width: auto;
        font-weight: bold;
        background:#eef;
        border: 2px #ccd solid;
        padding: 5px;
        margin: 50px 0px 0px 0px;
        -moz-border-radius: 5 5 5 5 !important;
        -webkit-border-radius: 5 5 5 5 !important;}
.apitips .apiscr{
        font-size:12pt;
        color: #383;
        width: auto;
        font-weight: bold;
        background:#efe;
        border: 2px #cdc solid;
        padding: 5px;
        margin: 15px 0px 0px 15px;
        -moz-border-radius: 5 5 5 5 !important;
        -webkit-border-radius: 5 5 5 5 !important;}
.apitips .apiscrs{
        width: auto;
        padding: 5px;
        margin: 15px 0px 0px 15px;}
.apitips .apiscrss{
        width: auto;
        text-align:right;
        margin: 0px 0px 0px 15px;}
.apitips b{
        color: #383;
}
.apitips dl{
        margin: 0px 0px 0px 15px;}
.apitips dt{
        font-weight: bold;
        margin: 15px 0px 0px 0px;}
