a {
  color:#FF7900;
  text-decoration: none;
}

a:hover{
  color:#6666dd;
}

body {
  font-family: 'Droid Sans Fallback','微軟正黑體','Arial';
  margin: 0;
  padding: 0;
  color: #fff;
  background: #000;
}

.inopenid {
  font-family: 'Droid Sans Fallback','微軟正黑體','Arial';
  margin: 0;
  padding: 0;
  color: #000;
  background: #dee;
  font-weight: bold;
}

.stable {
  width: 100%;
  font-weight: bold;
  border-collapse:collapse;
  font-size: x-large;
}

td {
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.tr {
  border-bottom: 1px #333 solid;
}

.nav {
  width: 100%;
  font-weight: bold;
  font-size: x-large;
}

.nav a {
  color: #acf;
}

.nav tr{
  background-color: #445;
}

.openidlist {
  font-size: large;
  line-height: 29pt;
  list-style-type:none;
}

.openidlist li img{
  width: 26px;
  vertical-align:middle;
}

.foot {
  clear:both;
}
.footdesc{
  text-align: center;
  color: #aaa;
  padding: 5px;
  margin-top: 20px;
  border-top: 5px #99a solid;
  background-color: #445;
}
