a {
  color:#FF7900;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color:#6666dd;
}

body {
  font-family: 'Droid Sans Fallback','微軟正黑體','Arial';
  margin: 0;
  padding: 0;
  color: #fff;
  background: #000;
}

.inopenid {
  font-family: 'Droid Sans Fallback','微軟正黑體','Arial';
  margin: 0;
  padding: 0;
  color: #000;
  background: #dee;
  font-weight: bold;
}

.stable {
  width: 100%;
  font-weight: bold;
  border-collapse:collapse;
  font-size: x-large;
}

.pp {
  font-size: small;
}

td {
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.gray {
  color: gray;
}

.tr {
  border-bottom: 1px #333 solid;
}

.nav {
  width: 100%;
  font-weight: bold;
  font-size: x-large;
}

.nav a {
  color: #acf;
}

.nav tr{
  background-color: #445;
}

.openidlist {
  font-size: large;
  line-height: 29pt;
  list-style-type:none;
}

.openidlist li img{
  width: 26px;
  vertical-align:middle;
}

.mconfigtitle {
  font-weight: bold;
  border-top: 3px #696 solid;
  padding: 4px;
  background-color: #363;
  font-size: large;
}

.mconfigtxt {
  font-weight: bold;
  margin-bottom: 10px;
}
.mconfigtxt a {
  color:#FF7900;
}

.mconfigtxt i {
  color: #aad;
}

.mdetail {
  font-weight: bold;
  font-size: large;
  color:#eee;
  line-height: 20pt;
}

.mchart {
  text-align: center;
}
.newstitle {
  font-size: large;
  font-weight: bold;
  padding: 5px;
  background-color: #007;
}

.newslist {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px #333 solid;
}

.newsinfo {
  font-size: small;
  font-weight: bold;
  color: #ff9;
}

.newssearch {
  font-weight: bold;
  text-align: center;
}
.foot {
  clear:both;
}
.footdesc{
  text-align: center;
  color: #aaa;
  padding: 5px;
  margin-top: 20px;
  border-top: 5px #99a solid;
  background-color: #445;
}
